.level-buttons-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.level-button {
    width: 180px;
    height: 60px;
    border-radius: 40px;
    border: none;
    background: #023047;
    color: #FFD15C;
    font-size: x-large;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.56);
}

.level-button:hover {
    transform: scale(1.1);
}