
h2{
    display: flex;

}

.simulation-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    min-height: 800px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-height: 800px;

    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;

    border-radius: 20px;
    color: #FFFFFF;
    font-size: x-large;
    overflow: scroll;
    scrollbar-width: none;
}

.css-dmso44-MuiButtonBase-root-MuiIconButton-root{
    display: flex;
    justify-self: flex-start !important;
}
.exit-h2-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings {
    width: 100%;
    max-width: 950px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.production-settings-part {
    margin: 5px;
    width: 100%;
    max-width: 900px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setting-container-production {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.range-input-production {
    width: 450px;
    margin-left: 5px;
    display: flex;
}

.marketing-label {
    padding-right: 5px;
}

.products-settings-part {
    margin: 20px;
    width: 100%;
    max-width: 950px;
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.settings-container-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.range-input-products {
    display: flex;
    flex-direction: column;

}

/* From Uiverse.io by iSweat-exe */
.circle-data {
    padding: 1rem;
    background-color: transparent;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    border-radius: 200px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-data h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 20px;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.data p {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    color: white;
    font-size: 25px;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.data .range {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
}