h2{
    margin: 0;
}
p{
    margin: 5px;
}
.simulation-results-container {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}