.footer {
    background-color: var(--deep-blue);
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}

.footer-title{
    display:flex;
    flex-direction: row;
}
