h3,h4{
    margin: 0;
}
p{
    margin: 0;
    margin-bottom: 5px;
    padding: 20px;
    width:450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.event-display{
    display: flex;
    flex-direction: row;
}
.event-choice-card-container{
    margin: 20px;
    padding: 0;
    width: 100%;
    max-width:850px !important;
    height: 800px;
    background: rgba(255, 179, 92, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #023047;
    font-size: x-large;
}
.event-card-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.event-info{
    width: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}
.event-info p{
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}
.event-people-picture{
    margin: 20px;
    width: 90px;
    height: 130px;
}
.choice-card{
   width: 500px ;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(2, 48, 71, 0.8);
    color: #FFFFFF;
    border-radius: 20px;
}

.choice-card-picture{
    width: 100%;
    max-width: 190px;
    height: 190px;
    margin: 20px;
}
.p-choice-description{
    width: 250px;
    text-align: center;
}
.choice-place{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}