.dropdown-menu-user {
    z-index: 50;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 260px;

    background-color: var(--deep-blue);
    background-image: linear-gradient(
            139deg,
            var(--deep-blue) 0%,
            var(--deep-blue) 0%,
            var(--deep-blue) 100%
    );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-menu-user .separator {
    border-top: 1.5px solid var(--orange);
}

.dropdown-menu-user .dropdown-menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 5px;
    margin: 0;
}

.dropdown-menu-label{
    margin: 10px 0;
}

.dropdown-menu-user .dropdown-menu-list .dropdown-menu-element {
    display: flex;
    align-items: center;
    color: var(--orange);
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown-menu-user h3 {
    margin: auto;
    align-items: center;
    color: var(--orange);
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown-menu-user .dropdown-menu-list .dropdown-menu-dropdown-menu-element .dropdown-menu-label {
    font-weight: 600;
}

.dropdown-menu-user .dropdown-menu-list .dropdown-menu-element:hover {
    background-color: var(--medium-blue-opacity);
    color: var(--deep-blue);
    transform: translate(1px, -1px);
}

.dropdown-menu-user .dropdown-menu-list .dropdown-menu-element:active {
    transform: scale(0.99);
}

.dropdown-menu-user .dropdown-menu-list:not(:last-child) .dropdown-menu-element:hover svg {
    stroke: #ffffff;
}

.dropdown-menu-user .dropdown-menu-list:last-child .dropdown-menu-element {
    color: #bd89ff;
}

.dropdown-menu-user .dropdown-menu-list:last-child .dropdown-menu-element:hover {
    background-color: rgba(56, 45, 71, 0.836);
}
