/* Global switch styles */
.switch {
    --_switch-padding: 4px;
    --_label-padding: 12px 4px;
    color: var(--deep-blue);
    width: 23%;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 9999px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: absolute;
    top: 80px;
    isolation: isolate;
    z-index: 10;
}

/* Hide checkbox input */
.switch input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Label style */
.switch > span {
    display: grid;
    font-size: 16px;
    font-weight: 600;
    place-content: center;
    transition: opacity 300ms ease-in-out 150ms;
    padding: var(--_label-padding);
}

/* Switch background color */
.switch::before,
.switch::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

/* Switch slider style */
.switch::before {
    background-color: var(--deep-blue);
    inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding);
    z-index: -1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease; /* Added transition for smooth sliding */
}

/* Switch hover effect */
.switch:has(input:not(:checked)) > span:first-of-type {
    color: var(--orange);
}

.switch:has(input:checked) > span:last-of-type {
    color: var(--orange);
}

/* Switch background color */
.switch::after {
    background-color: var(--clear-blue);
    border-color: var(--deep-blue);
    inset: 0;
    z-index: -2;
}

/* Hover effect on the labels */
.switch:has(input:checked):hover > span:first-of-type,
.switch:has(input:not(:checked)):hover > span:last-of-type {
    opacity: 1;
}

/* Checked state - move slider to the right */
.switch:has(input:checked)::before {
    background-color: var(--deep-blue);
    inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
}

/* Set opacity when checked */
.switch > span:last-of-type,
.switch > input:checked + span:first-of-type {
    opacity: 0.75;
}

.switch > input:checked ~ span:last-of-type {
    opacity: 1;
}
