.create-company-card{
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(2, 48, 71, 0.8);
    color: white;
    font-size: x-large;

}
.add-button{
    width: 200px !important;
    height: 200px ! important;
    color: #FFB35C;
}

.add-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}