.supplier-menu {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--deep-blue);
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

.supplier-menu .icon-title {
    margin-bottom: 4px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supplier-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background: #219EBC;
    border-radius: 20px;
}

.stat-stock {
    font-size: 16px;
}

.supplier-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    gap:120px;
    align-items: center;
}

.stock-container{
    text-align: center;
    font-size: 28px;
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.button-emplacement{
    display: flex;
    flex-direction: column;
    justify-content: right;
}