.employee-card {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--deep-blue);
    color: white;
    font-size: x-large;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.56);
    padding: 8px;
}

.employee-card-title{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.employee-card-title img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.employee-card-info {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-card-info p {
    width: 100%;
    max-width: 280px !important;

}