.obtain-item-card {
    width: 285px;
    height: 410px;
    background: var(--medium-blue);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.56);
}

.obtain-item-card .info-container {
    min-height: 150px;
}

.obtain-item-card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 0;
    font-size: 25px;
}

.obtain-item-card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    font-style: italic;
}

.obtain-item-card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
}

.obtain-item-card img {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    margin: 0 auto;
}

.obtain-item-card button {
    height: 40px;
    width: auto;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    background: var(--orange);
    color: var(--deep-blue);
    font-weight: 600;
    font-size: 15px;
}

.obtain-item-card button:hover {
    cursor: pointer;
    background: var(--yellow);
}