.increase-selection {
    border: none;
}

.increase-button {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    background: #219EBC;
    font-weight: bold;
    margin-left: 10px;
}

.dismiss-button {
    margin: 10px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    background: #FFB35C;
    font-weight: bold;
}