:root {
  --clear-blue: #8ECAE6; /* pastel-blue */
  --clear-blue-opacity: rgba(142, 202, 230, 0.8); /* pastel-blue-opacity 80% */
  --medium-blue: rgb(33, 158, 188); /* medium-blue */
  --medium-blue-opacity: rgba(33, 158, 188, 0.8); /* medium-blue-opacity 80% */
  --deep-blue: rgba(2, 48, 71, 0.9); /* deep-blue */
  --deep-blue-opacity: rgba(2, 48, 71, 0.8); /* deep-blue-opacity 80%*/
  --orange: #FFB35C; /*orange*/
  --orange-opacity: rgba(255, 179, 92, 0.8); /*orange-opacity 80%*/
  --yellow: #FFD15C; /* yellow*/
  --yellow: rgba(255, 209, 92, 0.8); /* yellow-opacity 80% */
  --white: #FFFFFF; /*white*/
  --error-color: #e11515;
}

.krona-one-regular {
  font-family: "Krona One", serif;
  font-weight: 400;
  font-style: normal;
}

.imprima-regular {
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Imprima", sans-serif;
  color: white;
}

h1 {
  font-family: "Krona One", serif;
}

.office-background {
  position: relative;
  background-image: url("/public/images/backgroundImages/home-background2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}